<html>
<head>

	<!-- seo related -->
	<title>Chatbot Frontend</title>

	<!-- meta related -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- vendor css & style files -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Open+Sans:300|Oxygen|Material+Icons"
		rel="stylesheet">
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

	<!-- custom css -->
	<link rel="stylesheet" type="text/css" href="static/index.css">

	<!-- vendor script files -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

	<!-- custom scripts -->
	<script type="text/javascript" src="static/chat.js"></script>
	<script type="text/javascript" src="static/question_answer.js"></script>

</head>

<body>
<!-- justify-content-center align-items-center -->
	<div class="container-fluid">
		<div class="row padded_row vw-100">

			<!-- left side content -->
			<div class="col-md-5">
				<div class="question_window">

					<div class="top_menu">
						<div class="title">Question Section</div>
					</div>

					<!-- help container -->
					<div class="panel-group" id="accordion">
						<!-- help - 1 -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="overflow-auto p-3 bg-body-tertiary" 
									style= "max-height: 95vh;">
									{% block question_content %}
									{% endblock %}
								</div>
							</div>
						</div>
					</div>

				</div>
				
			</div>

			<!-- right side content -->
			<div class="col-md-7">

				<div class="paragraph_window">
					<div class="top_menu">
						<div class="container-fluid">
							<div class = "row buttons_paragraph_row">
							<div class = "col-sm-3 text-center">
								<a id = "next-example" href="{{ url_for('new_example_router') }}">
									<button class="next-example">Next Example</button>
								</a>
								
							</div>
							<div class = "col-sm-3 text-center">
								<div class="title">Reading paragraph</div>
							</div>
							<div class = "col-sm-3 text-center">
								<div class="paragraph_id">{% block paragraph_id %}{% endblock %}</div>
							</div>
							<div class = "col-sm-3 text-center">
								<button class="view-results" onclick="get_user_inputs();">View Results</button>
							</div>
						</div>	
						</div>
						
						
					</div>
					<div class="panel-body">
						{% block paragraph_content %}
						{% endblock %}
					</div>
				</div>

				<div class="chat_window">
					<div class="top_menu">
						<div class="title">Translation Bot</div>
					</div>
					<!-- dynamically rendered -->
					<ul class="messages"></ul>
					<!-- input -->
					<div class="bottom_wrapper">
						<input id="msg_input" placeholder="Which word you want to translate?" />
						<div id="send_button" class="app_button_1">Send</div>
					</div>
				</div>

			</div>


		</div>
	</div>
</body>

</html>